    <table class="table table-striped">
        <thead>
        <tr>
            <td>Customer</td>
            <td>Created by</td>
            <td>Bid date</td>
            <td>Name</td>
            <td>Type</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Start Date</td>
            <td>Location</td>
            <td>Comments</td>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><select ng-controller="CustCtrl" ng-model="bid.customerID"
                ng-options="cust.CustomerID as cust.CustName for cust in custs"></select></td>

            <td><select ng-controller="UserCtrl" ng-model="bid.userID"
                 ng-options="user.userID as user.username for user in users" style="width: 100%;"></select></td>

            <td><input type="text" ng-model="bid.bidDate" datepicker/></td>
            <td><input ng-model="bid.projectName" style="width:75px " placeholder="Project Name"></td>
            <td><input ng-model="bid.projectType" style="width:75px " placeholder="Type"></td>
            <td><input ng-model="bid.bidAmount" style="width:75px " placeholder="Amount"></td>

            <td><select ng-controller="StatusCtrl" ng-model="bid.status"
                ng-options="stat.statusID as stat.statusName for stat in status" style="width: 100%;"></select></td>

            <td><input type="text"  ng-model="bid.startDate" datepicker/></td>
            <td><input ng-model="bid.location" style="width:75px " placeholder="Location"></td>
            <td><input ng-model="bid.comments" style="width:75px " placeholder="Comments"></td>
        </tr>
        </tbody>
    </table>
    <button ng-click="save()" class="btn btn-primary">Save</button>
    <button ng-click="delete()" ng-hide="disableDelete" class="button btn-danger">Delete</button><br/><br/>
    <button ng-click="cancel()" class="button btn-primary">Cancel</button>