<br/>
        <br/>

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span1"><label>Customer:</label></div>
            <div class="span3"><select ng-controller="CustCtrl" ng-model="bid.customerID" ng-options="cust.CustomerID as cust.CustName for cust in custs"></select></div>
            <div class="span1"><label>Created by:</label></div>
            <div class="span3"><select ng-controller="UserCtrl" ng-model="bid.userID" ng-options="user.userID as user.username for user in users"></select></div>
        <div class="span1"><label>Bid Date:</label></div>
        <div class="span3"><input type="text" ng-model="bid.bidDate" datepicker/></div>
    </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span1"><label>Type:</label></div>
            <div class="span3"><input ng-model="bid.projectType" placeholder="Type"></div>
            <div class="span1"><label>Project:</label></div>
            <div class="span3"><input ng-model="bid.projectName" placeholder="Project Name"></div>
            <div class="span1"><label>Amount:</label></div>
            <div class="span3"><input ng-model="bid.bidAmount" placeholder="Amount"></div>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span1"><label>Status:</label></div>
            <div class="span3"><select ng-controller="StatusCtrl" ng-model="bid.status"
                                       ng-options="stat.statusID as stat.statusName for stat in status"></select></div>
            <div class="span1"><label>Start Date:</label></div>
            <div class="span3"><input type="text" ng-model="bid.startDate" datepicker/></div>
            <div class="span1"><label>Location:</label></div>
            <div class="span2"><input ng-model="bid.location" placeholder="location"></div>
        </div>
    </div>
</div>
        <br/>

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span1"><label>Comments:</label></div>
            <div class="span11"><input ng-model="bid.comments"></div>
        </div>
    </div>
</div>
        <br/>
        <br/>
<div class="row">
    <div class="span5">
        <div class="span1"><button ng-click="save()" class="btn btn-primary">Save</button></div>
        <div class="span1 offset2"><button ng-click="delete()" ng-hide="disableDelete" class="button btn-danger">Delete</button></div>
        </div>
</div>
        <br/>
        <br/>
<div class="row">
<div class="span1">
    <div class="span1"><button ng-click="cancel()" class="button btn-primary">Cancel</button></div>
    </div>
    </div>