    <table class="table table-striped">
        <thead>
        <tr>
            <td>Customer</td>
            <td>Created by</td>
            <td>Bid date</td>
            <td>Name</td>
            <td>Type</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Start Date</td>
            <td>Location</td>
            <td>Comments</td>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input ng-model="bid.CustName" ng-hide={{bid.customerID}} style="width:75px " placeholder="Customer"></td>
            <td><input ng-model="bid.username" ng-hide={{bid.userID}} style="width:75px " placeholder="Entered By"></td>
            <td><input ng-model="bid.bidDate" style="width:75px " placeholder="Bid Date"></td>
            <td><input ng-model="bid.projectName" style="width:75px " placeholder="Project Name"></td>
            <td><input ng-model="bid.projectType" style="width:75px " placeholder="Type"></td>
            <td><input ng-model="bid.bidAmount" style="width:75px " placeholder="Amount"></td>
            <td><input ng-model="bid.status" style="width:75px " placeholder="Status"></td>
            <td><input ng-model="bid.startDate" style="width:75px " placeholder="Start Date"></td>
            <td><input ng-model="bid.location" style="width:75px " placeholder="Location"></td>
            <td><input ng-model="bid.comments" style="width:75px " placeholder="Comments"></td>
        </tr>
        </tbody>
    </table>
    <button ng-click="save()" class="btn btn-primary">Save</button>