    <table class="table table-striped">
        <thead>
        <tr>
            <td><a href="/new"><i class="icon-plus-sign"></i> </a></td>
            <td>Customer</td>
            <td>Created by</td>
            <td>Bid date</td>
            <td>Name</td>
            <td>Type</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Start Date</td>
            <td>Location</td>
            <td>Comments</td>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bid in bids">
            <td><a href="/edit/{{bid.bidID}}"><i class="icon-edit"></i></a> </td>
            <td>{{bid.customerID}}</td>
            <td>{{bid.userID}}</td>
            <td>{{bid.bidDate}}</td>
            <td>{{bid.projectName}}</td>
            <td>{{bid.projectType}}</td>
            <td>{{bid.bidAmount}}</td>
            <td>{{bid.status}}</td>
            <td>{{bid.startDate}}</td>
            <td>{{bid.location}}</td>
            <td>{{bid.comments}}</td>
        </tr>
        </tbody>
    </table>