<table id="test" class="table table-striped">
        <thead>
        <tr>
            <td><a href="/new/0"><i class="icon-plus-sign"></i> </a></td>
            <td><a href="/" ng-click="predicate='CustName'; reverse=!reverse">Customer</a></td>
            <td><a href="/" ng-click="predicate='username'; reverse=!reverse">Created by</a></td>
            <td><a href="/" ng-click="predicate='bidDate'; reverse=!reverse">Bid Date</a></td>
            <td><a href="/" ng-click="predicate='projectName'; reverse=!reverse">Project Name</a></td>
            <td><a href="/" ng-click="predicate='projectType'; reverse=!reverse">Type</a></td>
            <td><a href="/" ng-click="predicate='bidAmount'; reverse=!reverse">Amount</a></td>
            <td><a href="/" ng-click="predicate='statusName'; reverse=!reverse">Status</a></td>
            <td><a href="/" ng-click="predicate='startDate'; reverse=!reverse">Start Date</a></td>
            <td><a href="/" ng-click="predicate='location'; reverse=!reverse">Location</a></td>
            <td><a href="/" ng-click="predicate='comments'; reverse=!reverse">Comments</a></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bid in bids | orderBy:predicate:reverse">
            <td><a href="/edit/{{bid.bidID}}"><i class="icon-edit"></i></a> </td>
            <td>{{bid.CustName}}</td>
            <td>{{bid.username}}</td>
            <td>{{bid.bidDate}}</td>
            <td>{{bid.projectName}}</td>
            <td>{{bid.projectType}}</td>
            <td>{{bid.bidAmount}}</td>
            <td>{{bid.statusName}}</td>
            <td>{{bid.startDate}}</td>
            <td>{{bid.location}}</td>
            <td>{{bid.comments}}</td>
        </tr>
        </tbody>
    </table>
